@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.addPersonalForm-container {
    .addPersonalForm-title {
        @include header-title($bg-light-1, $bg-dark-2);
    }

    .addPersonalForm-inputs {
        padding: 1em 5.5em;
        margin-top: 1em;
        font-family: Arial, Helvetica, sans-serif;
        .col-sm-6{
            padding-bottom: 25px;
        }
    }

    .form-group.required .form-label:after {
        @include required($bg-red-3);
    }

    .rbt-menu {
        max-height: 90px!important;
    }

    .addPersonalForm-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .addPersonalForm-btn-add {
        @include button($bg-light-1, $bg-blue-1, $bg-blue-2);
        font-weight: bold;
        margin-right: 15px;
    }

    .addPersonalForm-btn-cancel {
        @include button($bg-light-1, $bg-red-1, $bg-red-2);
        font-weight: bold;
        margin-right: 2px;
    }

    @media only screen and (max-width: 425px) {
        .addPersonalForm-inputs {
            padding: 1em 0;
        }
    }
}